{% extends "master.html.twig" %}

{% block title %}Posts{% endblock %}

{% block content %}
    <div class="container">
    <h2>Total Users: {{userCount}}</h2>
    <br>
    <form method="get">            
        <input type="text" name="search" value="{{v.name}}">
        <input type="submit" value="Search"><br><br>
                     </form>
    
       
    <table class="table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Photo</th>
            <th>username</th>
            <th>email</th>
            <th>name</th>
            <th>gender</th>
            <th>Birth Date</th>
            <th>Postal Code</th>
             <th>City</th>
             <th>Country</th>
             <th>Registration Date</th>
             <th>Actions</th>
        </tr>
    
    {% for p in list %}
        <tr>
      <td>{{p.id}}</td>
      <td><img src="{{p.profilePicPath}}" width="80" height="80"></td>
            <td>{{p.username}}</td>
            <td>{{p.email}}</td>
            <td>{{p.name}}</td>
             <td>{{p.gender}}</td>
              <td>{{p.birthDate}}</td>
               <td>{{p.postalCode}}</td>
                <td>{{p.city}}</td>
                 <td>{{p.country}}</td>
                  <td>{{p.registrationDate}}</td>
                  <td>
                 <a href="/admin/panel/warn/{{p.id}}">Warn</a> |
                <a href="/admin/panel/ban/{{p.id}}">Ban</a> |
                <a href="/admin/panel/delete/{{p.id}}">Remove</a>
                  </td>
                    
        </tr>
        
      
            {% else %}
            <tr><td colspan="6">There are no users</td></tr>
                
                {% endfor %}
    </table>
    
    <br>
                
         <button onclick="window.location.href='/admin/panel';">Go Back</button> <br>
 
        </div>
    
{% endblock %}
