<form method="post">
    Name: <input type="text" name="name" value="{{v.name}}"><br>
    Username: <input type="text" name="username" value="{{v.username}}"><br>
    Email: <input type="email" name="email" value="{{v.email}}"><span id="isTaken"></span><br>
    Password: <input type="password" name="pass1"><br>
    Password(repeat): <input type="password" name="pass2"><br>
    Date of Birth: <input type="date" name="birthDate" value={{v.birthDate}}><br>
   Gender:<select name="gender" value="{{v.gender}}">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
        <option value="Other">Other</option>
    </select><br>
    Postal Code: <input type="text" name="postalCode" value="{{v.postalCode}}"><br>
    City: <input type="text" name="city" value="{{v.city}}"><br>
    Country: <input type="text" name="country" value="{{v.country}}"><br>
    Profile Picture:  <input type="file" name="photopath"><br><br>
    <input type="submit" value="Register">
</form>